{% extends "met_hunt/index.html" %}
{% block body %}


<div class="row panel" data-equalizer>
	<div class="small-12 medium-6 large-6 columns">
		<ul data-orbit>
			{% load staticfiles %}
			<li data-orbit-slider="Front" slider-pause><img src="{% static 'img/metfront.jpg' %}" alt="">
				<div class="orbit-caption">
					Metropolitan Museum Scavenger Hunt
				</div>
			</li>
			<li data-orbit-slider="Kemet" slider-pause><img src="{% static 'img/kemet.jpg' %}" alt="">
				<div class="orbit-caption">
					Ancient Hunt/ Embark on a Journey
				</div>
			</li>
			<li data-orbit-slider="Gallery" slider-pause><img src="{% static 'img/gallery.jpg' %}" alt="">
				<div class="orbit-caption">Classic Hunt</div>
			</li>
			<li data-orbit-slider="Hall" slider-pause><img src="{% static 'img/mainhall.jpg' %}" alt="">
				<div class="orbit-caption">
					Modern Hunt
				</div>
			</li>
		</ul>
	</div>

	<div class="small-12 medium-6 large-6 centered columns panel text-center" data-equalizer-watch>
		
			<h3>MetScavenger Hunt</h3>
		
		<span class="text-left">
			<p >Welcome to our Scavenger Hunt for the Metropolitain Museum.<br> Register. <br>Sign In.<br> Jump Right into a New Hunt.<br>
			Try it out and strive to be the best Hunter.<br>
			</p>
		</span>
		<a href= {% url "tutorial_hunt.views.rend_welcome" %}>
		<input type="button" value="Start Hunt" class="button radius expand">
		</a>
	</div>
</div>


<hr>
<!--Bottom Half -->

<div class="row panel">
	<div class="columns large-12">
		<ul class="accordion" data-accordion>
			<li class="accordion-navigation">
				<a href="#fun">These Hunts Are...</a>
					<div class="content" id="fun">
						<div class="row">
							<ul class="large-block-grid-3 small-block-grid-1 medium-block-grid-1">
								<li>
									<a class="hr" href="#">
										<img src="{% static 'img/fun.png' %}">
									</a>
								</li>
								<li>
									<a class="hr" href="#">
										<img src="{% static 'img/edu.png' %}">
									</a>
								</li>
								<li>
									<a class="hr" href="#">
										<img src="{% static 'img/socialll.png' %}">
									</a>
								</li>
							</ul>
						</div>
					</div>
			</li>

			<li class="accordion-navigation">
				<a href="#education">Education</a>
				<div class="content" id="education">
					<div class="row">
						<div class="columns large-6 small-12 medium-12">
							<a class="hr" href="#">
								<img src="{% static 'img/edu.png' %}">
							</a>
						</div>
						<div class="columns large-6 small-12 medium-12">
							<p>
								Our Scavenger Hunt can be used for your own education purposes. There are lots of possibilities.
							</p>
						</div>
					</div>
				</div>
			</li>

			<li class="accordion-navigation">
				<a href="#gallery">Gallery</a>
				<div class="content" id="gallery">
					<div class="row">
						<ul class="large-block-grid-3 small-block-grid-1 medium-block-grid-1">
							<li>
								<a class="hr" href="#">
									<img src="{% static 'img/olmec.jpg'%}">
								</a>
							</li>
							<li>
								<a class="hr" href="#">
									<img src="{% static 'img/bowl.jpg'%}">
								</a>
							</li>
							<li>
								<a class="hr" href="#">
									<img src="{% static 'img/gilt.jpg'%}">
								</a>
							</li>
							<li>
								<a class="hr" href="#">
									<img src="{% static 'img/dagger.jpg'%}">
								</a>
							</li>
							<li>
								<a class="hr" href="#">
									<img src="{% static 'img/kanagawa.jpg'%}">
								</a>
							</li>
							<li>
								<a class="hr" href="#">
									<img src="{% static 'img/houses.jpg'%}">
								</a>
							</li>
						</ul>
					</div>
				</div>
			</li>

			<li class="accordion-navigation">
				<a href="#map">Map</a>
				<div class="content" id="map">
					<div class="row">
						<div class="columns small-12 medium-12 large-6">
							<a class="hr" href="#">
									<img src="{% static 'img/mapview.png'%}">
							</a>
						</div>
						<div class="columns	small-12 medium-12 large-6">
							<p>The Metropolitan museum can be found here on the map!</p>
						</div>
					</div>
				</div>
			</li>

			<li class="accordion-navigation">
				<a href="#community">Community</a>
				<div class="content" id="community">
					<div class="row">
						<h3>Community</h3>
						<p>We have active scavenger hunt community that you can ask questions and help others by answering there questions.</p>
						<a href={% url 'forum.views.thread_layout' %}>
							<input type="button" class="button expand" value="Visit Community">
						</a>
					</div>
				</div>
			</li>
		</ul>
	</div>
</div>


<hr>
{% endblock %}
