{% extends "index.html" %}
{% block body %}
<div class="row">
	<div class="cloumns small-12 large-12">
		<!-- <p class="panel callout">MetMuseum Scavenger Hunt</p> -->
		<div id="slider"><img src="http://placehold.it/1000x400&text=[ img 1 ]" alt=""></div>
		<hr/>
	</div>
</div>

<div class="row">
	<div class="small-12 large-4 columns">
		<!-- <p class="panel callout">Fun</p> -->
		<img src="http://placehold.it/350x250">
	</div>
	<div class="small-12 large-4 columns">
		<!-- <p class="panel callout">Education</p> -->
		<img src="http://placehold.it/350x250">
	</div>
	<div class="small-12 large-4 columns">
		<!-- <p class="panel callout">Social</p> -->
		<img src="http://placehold.it/350x250">
	</div>
<hr>
</div>
<div class="row">
	<div class="small-12 large-12 columns">
		<p class="panel callout">Start Hunt</p>
	</div>
<hr>
</div>
<div class="row">
	<div class="small-12 large-4 columns">
		<!-- <p class="panel callout">Gallery</p> -->
		<img src="http://placehold.it/350x250">
	</div>
	<div class="small-12 large-4 columns">
		<!-- <p class="panel callout">Map</p> -->
		<img src="http://placehold.it/350x250">
	</div>
	<div class="small-12 large-4 columns">
		<!-- <p class="panel callout">Community</p> -->
		<img src="http://placehold.it/350x250">
	</div>
</div>
{% endblock %}
