<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Scavenger</title>
	
	{% load staticfiles %}
	<link rel="stylesheet" href="{% static 'foundation/css/foundation.css' %}">
	<link rel="stylesheet" href="{% static 'foundation/css/foundation.min.css' %}">
	<link rel="stylesheet" href="{% static 'foundation/css/normalize.css' %}">
</head>
<body>
	<div class="row">
		<div class="contain-to-grid sticky">
			<nav class="top-bar" data-topbar role="navigation">
				<ul class="title-area">
					<li class="name">
						<h1><a href="/">Scavanger Hunt</a></h1>
					</li>
					<li class="toggle-toolbar menu-icon">
					<a href="#"><span>Menu</span></a>
					</li>
				</ul>
			</nav>
		</div>
	</div>
		
	{% block body%}
	{% endblock %}

	<script src="{% static 'foundation/js/vendor/jquery.js' %}"></script>
	<script src="{% static 'foundation/js/foundation.min.js' %}"></script>
	<script>
		$(document).foundation();
	</script>
</body>
</html>