<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Scavenger Hunt</title>
	
	{% load staticfiles %}
	<link rel="stylesheet" href="{% static 'foundation/css/foundation.css' %}">
	<link rel="stylesheet" href="{% static 'foundation/css/foundation.min.css' %}">
	<link rel="stylesheet" href="{% static 'foundation/css/normalize.css' %}">
</head>
<body>
	<div class="row">
		<div class="contain-to-grid sticky">
			<nav class="top-bar" data-topbar>
				<ul class="title-area">
					<li class="name">
						<h1><a href="/">Scavenger Hunt</a></h1>
					</li>
					<li class="toggle-topbar menu-icon"><a href="#">
						<!-- Hamberger menu bar -->
						<span></span>
					</a></li>
				</ul>

				<!-- list of munus -->
				<section class="top-bar-section">
					<ul class="right">
						<li><a href="/">Home</a></li>
						<li><a href="#">About</a></li>
						<li><a href="#">Profile</a></li>
						<li class="has-dropdown not-click">
							<a href="#">Categories</a>
							<ul class="dropdown">
								<li><a href= {% url "hunts.views.get_data" %}>Ancient Art Hunt</a></li>
								<li><a href="#">View Hunts</a></li>
								<li><a href="#">Make Hunts</a></li>
							</ul>
						</li>
						<li>
							<a href={% url 'user_auth.views.register' %}>Register</a>
						</li>
					</ul>
				</section>
			</nav>
		</div>
	</div>
		
	{% block body%}
	{% endblock %}

	<script src="{% static 'foundation/js/vendor/jquery.js' %}"></script>
	<script src="{% static 'foundation/js/foundation.min.js' %}"></script>
	<script>
		$(document).foundation();
	</script>
</body>
</html>