{% extends "index.html" %}
{% block body %}
	<div class="row">
		<div class="large-4 small-12 columns">
			<p class="panel callout">Photo</p>
		</div>
		<div class="large-4 small-12 columns">
			<p class="panel callout">Information</p>
		</div>
		<div class="large-4 small-12 columns">
			<p class="panel callout">Social Media</p>
		</div>
	</div>

	<div class="row">
		<div class="large-12 small-12 columns">
			<p class="panel callout">My story</p>
		</div>
	</div>

	<div class="row">
		<div class="large-4 small-12 columns">
			<p class="panel callout">Latest Hunts</p>
		</div>
		<div class="large-4 small-12 columns">
			<p class="panel callout">Q and A</p>
		</div>
		<div class="large-4 small-12 columns">
			<p class="panel callout">Design Hunts</p>
		</div>
	</div>
{% endblock %}