{% extends "index.html" %}
{% block body %}
	<div class="row">
		<div class="large-4 small-4 columns small-centered large-centered panel">
		<h1>Login</h1>
		<form action="" class="custom">
			<div class="row ">
				<div class="small-12 large-12 columns">
					<input type="text" placeholder="Username">
				</div>
			</div>

			<div class="row">
				<div class="small-12 large-12 columns">
					<input type="password" placeholder="Password">
				</div>
			</div>
			<div class="row">
				<div class="small-12 large-12 columns">
					<input type="submit" class="button expand" value="Log In" />
				</div>
			</div>
		</form>
		</div>
	</div>
{% endblock %}