{% extends "met_hunt/index_wobbly.html" %}
{% block body  %}
{% load staticfiles %}
<div class="slide">
    <img class="icon" src="{% static 'hunts/museumhunters.svg' %}" alt="Museum Hunters Logo"/>
    <h1>{{clue_text}}</h1>
    <form action={% url "hunts.views.render_hint" %}>
    <input class="submit" type="submit" value="Show me a Hint">
    </form>
    <form action={% url "hunts.views.render_verify" %}>
    <input class="submit" type="submit" value="Found it">
    </form>
    <form action="#">
        <input class="submit" type="submit" value="Ask a friend">
    </form>
</div>
{% endblock %}