{% extends "met_hunt/index_wobbly.html" %}
{% load staticfiles%}
{% block body %}
{% load staticfiles %}
<div class="MainBod medium-12 small-12 large-12">
    <div class="row factdivision small-12 medium-12 large-12 centered">
    <div class="slide">
        
        <a href={% url 'home.views.main' %}><img class ="icon" src="{% static 'hunts/museumhunters.svg' %}" alt="Museum Hunters Logo"/></a>
        {% if user.is_authenticated %}
        <h1>Welcome to the {{title}}</h1>
        <h1>{{start_pt}}</h1>
        <form action={% url "hunts.views.render_clue" %}>
        <input class = "submit" type="submit" value="Show First Clue">
        </form>
        {% else %}
        <h1>It looks like you're not authorized to take this hunt yet.
            <br>Please register (or log in) and try again.
        </h1>

        <form action={% url "user_auth.views.login_user" %}>
        <input class = "submit" type="submit" value="Log in">
        </form>
        <form action={% url "user_auth.views.register" %}>
        <input class = "submit" type="submit" value="Register">
        </form>
        {% endif %}
    </div>
</div>
</div>
{% endblock %}