{% extends "home/index.html" %}

{% block body %}

<!-- First row: Welcome to {hunt_id.name} plus general guidlines-->
<div class = "row">
	<h1>Welcome to the {{title}}</h1>
	<div class = "small-12 medium-12 large-12 columns panel">
	<p>You will be given a series of clues that lead to a piece of art in the museum. <br> Once you've found it there will be an id of numbers on the plaque near the artwork.<br> Use that as your verification code. </p>
	</div>
</div>

<!-- Second Row: Give the users their {hunt_id.starting point} -->
<div class = "row">
	<div class = "small-12 medium-12 large-12 columns panel">
	<p>{{start_pt}}<br>When you're ready press "Show Clue".</p>
	</div>
</div>

<!-- Third Row: Button link to first {hunt_id.itemclue} -->
<div class = "row">
	<div class = "small-12 medium-12 large-12 columns panel">
	<a href = {% url "hunts.views.render_clue" %} class = "button">Show Clue</a>
	</div>
</div>

{% endblock %}