{% extends "met_hunt/index.html"%}

{% block body %}

<!-- First row: Display the incorrect answer's message -->
<div class = "row">
	<div class = "small-12 medium-12 large-12 columns panel">
		<p>Oops! That was the wrong ID number</p>
	</div>
</div>

<!-- Second row: Try again button that links to the verify page -->
<div class = "row">
	<div class = "small-12 medium-12 large-12 columns">
		<a href={% url "hunts.views.render_verify" %} class = "button">Try again</a>
	</div>
</div>

{% endblock %}