{% extends "met_hunt/index_wobbly.html" %}

{% block body %}

<div class = "row">
	<div class="slide">
		<img class="icon" src="../../static/img/museumhunters.svg" alt="Museum Hunters Logo"/>
		<h1>Verify</h1>
			<form action={% url "hunts.views.render_result" %} method="POST">
	{% csrf_token %}
	<!-- replace # witht a congratualtions or retry page (TODO) -->
	<label> Enter ID
		<input type = "text" id = "input" name = "input" placeholder = "ID"/>
	</label>
	<input type = "submit" class = "button expand"/>
	</form>
	</div>
</div>

{% endblock %}