<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Scavenger Hunt</title>
	{% load staticfiles%}
	<link rel="stylesheet" href="{% static 'foundation/css/foundation.css' %}">
	<link rel="stylesheet" href="{% static 'foundation/css/foundation.min.css' %}">
	<link rel="stylesheet" href="{% static 'foundation/css/normalize.css' %}">
	<link rel="stylesheet" href="{% static 'foundation/css/foundation-icons/foundation-icons.css' %}">
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	<!-- // <script type="text/javascript" src="{% static 'edit.js' %}"></script> -->
</head>
<body>
	<div class="row">
		<div class="contain-to-grid sticky">
			<nav class="top-bar" data-topbar role="navigation" data-options="sticky_on: large">
				<ul class="title-area">
					<li class="name">
						<h1><a href="/"><img src="{% static 'img/icon_met.png' %}" alt=""></a></h1>
					</li>
					<li class="toggle-topbar menu-icon"><a href="#">
						<!-- Hamberger menu bar -->
						<span></span>
					</a></li>
				</ul>

				<!-- list of munus -->
				<section class="top-bar-section">
					<ul class="left">
						<li><a href="/">Home</a></li>
						<li><a href="#">About</a></li>
						<li class="has-dropdown not-click">
							<a href="#">Categories</a>
							<ul class="dropdown">
								<li><a href= {% url "hunts.views.get_data" '001' %}>Ancient Art Hunt</a></li>
								<li><a href= {% url "hunts.views.get_data" '002' %}>Medieval Art Hunt</a></li>
								<li><a href= {% url "hunts.views.get_data" '003'%}>Asian Art Hunt</a></li>
								<li><a href= {% url "hunts.views.get_data" '004'%}>Modern Art Hunt</a></li>
								<li><a href= {% url "hunts.views.get_data" '005' %}>European Art Hunt</a></li>
							</ul>
						</li>
						<li><a href="#">Create Hunts</a></li>
					</ul>
					<ul class="right">
						<li>
							<a href="#" data-dropdown="search" aria-controls="search" aria-expanded="false">
								<i class="fi-magnifying-glass"></i>
							</a>
							<div id="search" data-dropdown-content class="f-dropdown content medium" aria-hidden="true">
								<h3>Search</h3>
								<div class="row">
									<div class="columns large-12">
										<input id="searchBox" type="text">
									</div>
								</div>
								<br>
								<hr id="top">
								


								<!-- <div class="row">
									<div class="columns large-3">
										<img src="http://placehold.it/350x250">
									</div>
									<div class="columns large-9">
										<p id="searchText"></p>
									</div>
								</div>
								<hr>
								<div class="row">
									<div class="columns large-3">
										<img src="http://placehold.it/350x250">
									</div>
									<div class="columns large-9">
										<p>This part of the interface is for search feature! This is second hunt!</p>
									</div>
								</div>
								<hr>
								<div class="row">
									<div class="columns large-3">
										<img src="http://placehold.it/350x250">
									</div>
									<div class="columns large-9">
										<p>This part of the interface is for search feature! This is second hunt!</p>
									</div>
								</div> -->
								<!-- content end -->
							</div>
						</li>

						<!-- user name -->
						{% if user.is_authenticated %}
						<li class="has-dropdown not-click">
							<a href="#">Welcome {{ user.username }}!</a>
							<ul class="dropdown">
								<li class="divider"></li>
								<li><label for="#">Account Information</label></li>
								<li><a href="{% url 'user_auth.views.profile' %}">Profile</a></li>
								<li><a href="#">Account Setting</a></li>
								<li>
									<a href={% url 'user_auth.views.logout_user' %}>LogOut</a>
								</li>
							</ul>
						</li>
						{% else %}
						<li><a href={% url 'user_auth.views.register' %}>Register</a></li>
						<li><a href={% url 'user_auth.views.login_user' %}>LogIn</a></li>
						{% endif %}						
					</ul>
					<ul class="center">
						<li><a href="">ScavengerHunt</a></li>
					</ul>
				</section>
			</nav>
		</div>
	</div>
	{% block body%}
	{% endblock %}



	<script src="{% static 'foundation/js/vendor/jquery.js' %}"></script>
	<script src="{% static 'foundation/js/foundation.min.js' %}"></script>
	<script>
		$(document).foundation();
	</script>

	<script>
		$(document).ready(function(){
			$('#searchBox').keyup(function(){
				if($('#searchBox').val() == ""){
					$('#top').text("");
				}
				$result = $('#top').load("search/" + $('#searchBox').val());
				// $('#top').html($result);
			});
		});
	</script>
</body>


<!-- For testing branch here! -->
<!-- I just added little words! -->
<!-- Added little more! -->
<!-- little -->




</html>
