<div class="columns large-12">
	<label for="Search">Search : </label>
	<input id="post_search" type="search" placeholder="Search" ng-model="query">

</div>

<div class="columns small-12 medium-12 large-12">
	<div class="row animate-repeat" ng-repeat="post in posts | filter:query">
		<hr>
		<div class="columns large-3">
			<img src="http://placehold.it/100x100" alt="">
			{% verbatim %}
			<br>
			<div class="label">Username : {{ post.username }}</div>
			<div class="label">Expertise : Modern Art</div>
			{% endverbatim %}
		</div>
		{{ cntl }}
		<div class="columns large-9">
			<!-- {% verbatim %} -->
			<h4><a href="#" data-reveal-id="modal" ng-click="postShow(post.id, post)">
				{{ post.title }}
			</a></h4>
			<p>{{ post.when | date : "yyyy/MM/dd 'at' h:mma" }}</p>
			<!-- {% endverbatim %} -->
		</div>
	</div>
</div>

