{% extends "met_hunt/index.html" %}
{% block body %}
	<div class="row" ng-app = "modern_thread">
		<div class="columns large-12" ng-controller="modern_controller">
			<div class="row">
				<dl class="sub-nav">
					<dt>Category : </dt>
					<dd class="active"><a href="#">Modern Hunt</a></dd>
					<dd><a href="#">Ancient Hunt</a></dd>
				</dl>
			</div>
			<div class="row">
				<div class="columns large-12">
					<div class="large-centered columns large-3">
						<h1>Questions</h1>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="columns large-12">
					Search : <input type="text" placeholder="Search" ng-model="query">
				</div>
			</div>
			<div ng-include="templateurl" class="row">
				
			</div>
		</div>

	</div>
{% endblock %}
