{% extends "met_hunt/index.html" %}
{% block body %}
<div class="row">
	<h1>{{title}}</h1>
	<div class="small-12 medium-12 large-12 columns panel">
	<p>Welcome to your first hunt!<br>You will be given clues that lead to a piece of art in the museum<br>
	Once you've found it there will be an id of numbers on the plaque near the artwork<br> Use that as your verification code</p>
	</div>
</div>
<div class="row">
	<div class = "small-12 medium-12 large-12 columns panel">
	<a href = {% url "tutorial_hunt.views.rend_clue" %}>Show Clue</a>
	</div>
</div>





{% endblock %}
