{% extends "met_hunt/index.html" %}
{% block body %}
<div class="row">

	<div class="columns small-12 medium-4 large-4" >
		<span>
			{% if user.userinfo.picture %}
			{% load staticfiles %}
			<img src={% static user.userinfo.picture %} alt="">
			{% else %}
			<img src="http://placehold.it/350x150">
			{% endif %}
		</span>
	</div>

	<div class="columns small-12 medium-4 large-4">
		<h4>User Information</h4>
		<table>
			<tr>
				<td>Name</td>
				<td>:</td>
				<td>{{ user.get_full_name }}</td>
			</tr>
			<tr>
				<td>Expert Area</td>
				<td>:</td>
				<td>{{ user.userinfo.area_of_expertise }}</td>
			</tr>
			<tr>
				<td>Expert Level</td>
				<td>:</td>
				<td>{{ user.userinfo.expert_level }}</td>
			</tr>
		</table>
		<span><a href="#">Edit</a></span>
	</div>

	<div class="columns small-12 medium-4 large-4">
		<img src="http://placehold.it/350x150">
	</div>
</div>

<hr>

<div class="row">
	<div class="columns small-12 medium-12 large-12">
		<img src="http://placehold.it/1000x150">
	</div>
</div>

<hr>

<div class="row">
	<div class="columns small-12 medium-4 large-4">
		<img src="http://placehold.it/350x150">
	</div>
	<div class="columns small-12 medium-4 large-4">
		<img src="http://placehold.it/350x150">
	</div>
	<div class="columns small-12 medium-4 large-4">
		<img src="http://placehold.it/350x150">
	</div>
</div>
{% endblock %}