{% extends "met_hunt/index.html" %}
{% block body %}
<div class="row panel">

	<div class="columns small-12 medium-4 large-4" >
		<span>
			{% if user.userinfo.picture %}
			{% load staticfiles %}
			<img src={% static user.userinfo.picture %} alt="">
			{% else %}
			<img src="http://placehold.it/350x150">
			{% endif %}
		</span>
	</div>

	<div class="columns small-12 medium-4 large-4">
		<div class="row">
			<h4>User Information</h4>
			<table>
				<tr>
					<td>Name</td>
					<td>:</td>
					<td>{{ user.get_full_name }}</td>
				</tr>
				<tr>
					<td>Expert Area</td>
					<td>:</td>
					<td>{{ user.userinfo.area_of_expertise }}</td>
				</tr>
				<tr>
					<td>Expert Level</td>
					<td>:</td>
					<td>{{ user.userinfo.expert_level }}</td>
				</tr>
			</table>
			<form action={% url 'user_auth.views.edit' %} method="GET">
				<!-- {% csrf_token %} -->
				<input type="submit" class="button round" value="Edit">
			</form>
		</div>
	</div>

	<div class="columns small-12 medium-4 large-4">
		<img src="http://placehold.it/350x250">
	</div>
</div>

<hr>

<div class="row">
	<div class="columns small-12 medium-12 large-12">
		<img src="http://placehold.it/1000x150">
	</div>
</div>

<hr>

<div class="row">
	<div class="columns small-12 medium-4 large-4">
		<img src="http://placehold.it/350x150">
	</div>
	<div class="columns small-12 medium-4 large-4">
		<img src="http://placehold.it/350x150">
	</div>
	<div class="columns small-12 medium-4 large-4">
		<img src="http://placehold.it/350x150">
	</div>
</div>
{% endblock %}