{% extends "met_hunt/index.html" %}
{% block body %}
<div class="row" data-equalizer>
	<div class="columns small-12 medium-12 large-4">
		<fieldset data-equalizer-watch>
			<legend><h3>Picture</h3></legend>
			<a href="#" class="th">
				{% load staticfiles %}
				<img style="height:220px;width:260px;"src="{% static user.userinfo.picture %}" alt="">
			</a>
		</fieldset>
	</div>
	<div class="columns small-12 medium-12 large-4">
		<form action={% url 'user_auth.views.edit' %} method="GET">
			{% csrf_token %}
			<fieldset data-equalizer-watch>
				<legend><h3>User Information</h3></legend>
				<table>
					<tr>
						<td>Name</td>
						<td>:</td>
						<td>{{user.get_full_name}}</td>
					</tr>
					<tr>
						<td>Expert Level</td>
						<td>:</td>
						<td>{{user.userinfo.expert_level}}</td>
					</tr>
					<tr>
						<td>Expert Area</td>
						<td>:</td>
						<td>{{user.userinfo.area_of_expert}}</td>
					</tr>
				</table>
				<input type="submit" class="button expand round tiny" value="Edit">
			</fieldset>
		</form>
	</div>
	<div class="columns small-12 medium-12 large-4">
		<fieldset data-equalizer-watch>
			<legend><h3>Social Media</h3></legend>
			<ul style="list-style-type:none;">
				<li><a href="https://www.facebook.com/"><h2><i class="fi-social-facebook"></i>FaceBook</h2></a></li>
				<li><a href="https://www.twitter.com/"><h2><i class="fi-social-twitter"></i>Twitter</h2></a></li>
				<li><a href="https://www.flickr.com/"><h2><i class="fi-social-flickr"></i>Flickr</h2></a></li>
			</ul>
		</fieldset>
		<!-- <img src="http://placehold.it/350x150"> -->
	</div>
</div>

<hr>

<div class="row">
	<div class="columns small-12 medium-12 large-12">
		<dl>
			<dt>Biography</dt>
			<dd>
				<blockquote>
					<p>{{user.userinfo.description}}</p>
				</blockquote>
			</dd>
		</dl>
	</div>
</div>

<hr>

<div class="row">
	<ul class="small-block-grid-1 medium-block-grid-1 large-block-grid-3">
		<li>
			<a href="#" class="th">
				<table style = "width:100%">
				<tr>
					<th>Name of Hunt</th>
					<th>Progress</th>
				</tr>
				<tr>
				{% for ht_pr in lst_of_hunts %}
					<td>{{ ht_pr.0 }}</td>
					<td>{{ ht_pr.1 }}</td>
				{% endfor %}
				</tr>
				</table>
			</a>
		</li>
		<li>
			<a href="#" class="th">
				<img src="http://placehold.it/350x250">
			</a>
		</li>
		<li>
			<a href="#" class="th">
				<img src="http://placehold.it/350x250">
			</a>
		</li>
	</ul>

	<!-- <ul class="tabs" data-tab>
		<li class="tab-title active"><a href="#latest">Latest Hunts</a></li>		
		<li class="tab-title"><a href="#questions">Q&ampA</a></li>
		<li class="tab-title"><a href="#make_hunt">Build Hunt</a></li>
	</ul>

	<div class="tabs-content">
		<div class="content active" id="latest">
			<div class="row">
				<div class="columns large-6">
					<img src="http://placehold.it/350x250">
				</div>
				<div class="columns large-6">
					<p>Latest hunts contents go here.</p>
					
				</div>
			</div>
		</div>
		<div class="content" id="questions">
			<p>Questions and answers contents go here.</p>
		</div>
		<div class="content" id="make_hunt">
			<p>Make hunt contents go here.</p>
		</div>
	</div> -->
</div>
{% endblock %}
